.vscode
*.ipynb_checkpoints
__pycache__
*.pt
*.wav
*.flac
*.zip
*.txt
*.png
*.mid
*.tsv
data/synthesize*
data/guitarset
data/GuitarSet_extracted
runs/*
venv/*
amt_env/*
default_sound_font.sf2
*.log
*.wandb
*.json
latest-run
classification_results/*
old_runs/*
test_runs/*
config.yaml
.DS_Store
*_runs/
final*
results*
